// Colors
$color-1: #fff;
$color-2: #bf2726;
$color-3: #000;
$color-4: #006fe6;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Paddings / Margins
$margin-xs: 0.25rem;
$margin: 1rem;

$padding-sm: 0.5rem;
$padding: 1rem;
$padding-lm: 1.5rem;
